.name {
    font-weight: 600;
    font-size: 30px;
}
.online {
    background-color: green;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.offline {
    composes: online;
    background-color: red;
}
.item {
    display: flex;
    align-items: center;
    background-color: azure;
    padding: 15px 15px;
    border: 1px solid lightgrey;
    gap: 10px;
    box-shadow: 5px 2px 15px -2px #000000;
}
